<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card info-students">
                <div class="card-header">
                    <h4>Welcome to {{userlogin.fullname}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h6>Name: {{userlogin.fullname}}</h6>
                            <h6>Birthday: {{userlogin.birthday}}</h6>
                            <h6>Marks: {{userlogin.marks}}</h6>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <h6>Email: {{userlogin.email}}</h6>
                            <h6>Username: {{userlogin.username}}</h6>
                            <h6>Schoolfee: {{userlogin.schoolfee}}</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>