<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>QUIZ LIST</h3>
                    <ul>
                        <li><a href="#"> Quizs 1</a></li>
                        <li><a href="#"> Quizs 2</a></li>
                        <li><a href="#"> Quizs 3</a></li>
                        <li><a href="#"> Quizs 4</a></li>
                        <li><a href="#"> Quizs 5</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul>
                        <li><a [routerLink]="['']"> Home</a></li>
                        <li><a [routerLink]="['/quizs']"> Quiz</a></li>
                        <li><a [routerLink]="['about']"> About</a></li>
                        <li><a [routerLink]="['/contact']"> Contact</a></li>
                        <li><a [routerLink]="['/feedback']"> Feedback</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>LEARM MORE</h3>
                    <ul>
                        <li><a [routerLink]="['']"> Home</a></li>
                        <li><a [routerLink]="['/quizs']"> Quiz</a></li>
                        <li><a [routerLink]="['about']"> About</a></li>
                        <li><a [routerLink]="['/contact']"> Contact</a></li>
                        <li><a [routerLink]="['/feedback']"> Feedback</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>