.navbar {
    background-color: #44a500 !important;
}

.btn-danger {
    color: #fff;
    background: linear-gradient(145deg, #673AB7, #9C27B0);
    border-color: #673AB7;
    margin: 0 5px;
    border-radius: 99px;
}