<div class="container-fluid">
    <div class="row banner-top">
        <div class="col-lg-12 dol-md-12 col-sm-12 text-center">
            <div class="content mx-auto text-light">
                <h1>#1 Online Quiz</h1>
                <h2>100K+ quizzes & tests created. Over 50 million quiz takers</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h2>Quiz Anytime & Anywhere</h2>
                    <h5>Engaging quizzes that play equally great on all screen sizes</h5>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="content">
                        <p>Quizzes work great on every device type including desktops, laptops, and mobiles. Once the quiz is published, you can easily share the quiz via email, embed on your website and blog or even share with private groups with each user
                            having their own login credentials. You can also create quizzes in 70+ languages with our online quiz tool.</p>
                        <ul>
                            <li>Works great across devices</li>
                            <li>70+ languages</li>
                            <li>Public or private quizzes</li>
                            <li>Embed on your website</li>
                        </ul>
                        <a class="btn btn-primary" [routerLink]="['/quiz']">Take a quizs</a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <img src="/assets/images/3.png" alt="Images" width="85%">
                </div>
            </div>
        </div>

    </div>
</div>