<div class="container">
    <div class="row resetpw">
        <div class="card bg-light mx-auto">
            <div class="login-card-purple p-3 shadow-lg rounded">
                <div class="pt-3">
                    <h2 class="text-white text-center">Reset Password</h2>
                </div>

                <form class="mt-5">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control form-control-sm bg-light" placeholder="Email">
                    </div>
                    <div class="mt-5">
                        <button class="btn btn-sm btn-light col">
                            Reset now
                        </button>
                    </div>

                    <div class="mt-5">
                        <p class="text-white text-center">
                            Don't have an account?
                            <a [routerLink]="['/signup']" class="text-warning">Click here to register</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>