.quiz-page {
    margin: 30px 0;
}

i.far {
    border: 1px solid;
    border-radius: 99px;
    padding: 9px;
    margin: 0 5px;
    color: #007bff;
}

.pagination-quiz {
    margin: 15px 0;
}

.btn-danger {
    color: #fff;
    background-color: #FF7200;
    border-color: #FF7200;
}

.card-subject {
    margin: 5px 0;
}

.card-img-top.mx-auto {
    width: 65%;
}

h5.card-title.text-center {
    font-size: 1em;
}

.card.quizzes {
    width: 100%;
}

.card.info-students {
    margin: 25px 0;
}

.form-check-input {
    position: absolute;
    margin-top: 0.45rem;
    margin-left: -1.5rem;
    width: 17px;
    height: 20px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    font-size: 1.25em;
}