<div class="container quizs-page">
    <div *ngIf="this.itemService.nameofsubject==null; then ChoiceSubject else StartQuiz">
    </div>
    <ng-template #ChoiceSubject>
        <div class="row quiz-page">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h3>Choose a quiz</h3>
            </div>
            <div *ngFor="let subject of subject" class="col-lg-3 col-md-4 col-sm-6">
                <div class="card card-subject" (click)="getID(subject.Id)">
                    <img src="/assets/images/logos/{{subject.Logo}}" class="card-img-top mx-auto" alt="{{subject.Name}}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{subject.Name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #StartQuiz>
        <div class="row quiz-page">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card info-students">
                    <div class="card-header">
                        <h4>Welcome to {{userlogin.fullname}}</h4>
                    </div>
                    <div class="card-body">
                        <h6>Name: {{userlogin.fullname}}</h6>
                        <h6>Birthday: {{userlogin.birthday}}</h6>
                        <h6>Subjects: Lập trình web</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                                <button class="btn btn-danger" (click)="chonlai()">Chọn quiz khác</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                <span class="badge badge-pill badge-primary" id="time-down"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="hiddenStartquiz" class="btn btn-danger btn-block" (click)="startQuiz()">Start Quizs</button>
            <div *ngIf="!hiddenStartquiz && !result" class="card quizzes">
                <div class="card-header">
                    <h6>{{Text}}</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div *ngFor="let question of question" class="form-check">
                            <input class="form-check-input" type="radio" value="{{question.Id}}" (click)="choose(question.Id)">
                            <label class="form-check-label" (click)="choose(question.Id)">
                                {{question.Text}}
                            </label>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                            <p>
                                Marks: {{marks}}
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-right">
                            <p>
                                Question: <span id="mark">{{i+1}}</span> / <span id="total-mark">{{count}}</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="result" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card quizzes">
                <div class="card-header">
                    <h3>Điểm của bạn là {{marks}}</h3>
                </div>
                <div class="card-body text-center">
                    <h6>Bạn đã trả lời đúng {{marks}}/{{count}}</h6>
                    <p>Nhấn vào nút Lưu điểm để lưu điểm lại</p>
                    <p id="noti"></p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                            <button (click)="luudiem()" class="btn btn-danger">Lưu điểm</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                            <button (click)="chonlai()" class="btn btn-danger">Làm quiz khác</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>